header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

header nav ul li {
    padding: 0px 5px 0 5px;

}